# GÜVENLİ ŞABLON (Gerçek şifreni buraya YAZMA)
MYSQL_ROOT_PASSWORD=ornek_sifre_giriniz
MYSQL_DATABASE=erp_db

DATABASE_URL="mysql://root:ornek_sifre_giriniz@erp_mysql:3306/erp_db"
VITE_API_URL=http://localhost:3000
